src/com/janusresearch/tdXmlPlugin/dom/module/schema/SharedSchemaTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema elementFormDefault="qualified"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <!--This XSD file contains schemas that are used by both Javelin and UVEE XSD files-->

    <xsd:complexType name="DescriptionType">
        <xsd:all minOccurs="0">
            <xsd:element name="Title" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Objective" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Action" type="FAPVType" minOccurs="0"/>
            <xsd:element name="Avatars" type="AvatarsType" minOccurs="0"/>
            <xsd:element name="Condition" type="FAPVType" minOccurs="0"/>
            <xsd:element name="Standard" type="FAPVType" minOccurs="0"/>
            <xsd:element name="PerformanceMeasures" type="PerformanceMeasuresType" minOccurs="0"/>
            <xsd:element name="Warnings" type="WarningsType" minOccurs="0"/>
            <xsd:element name="Cautions" type="CautionsType" minOccurs="0"/>
            <xsd:element name="TMReferences" type="TMReferencesType" minOccurs="0"/>
        </xsd:all>
    </xsd:complexType>
    
    <xsd:complexType name="AvatarsType">
        <xsd:all minOccurs="0">
            <xsd:element name="Welcome" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Task" type="xsd:string" minOccurs="0"/>
            <xsd:element name="PerformanceMeasures" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Warnings" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TMReferences" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TimeWarning" type="xsd:string" minOccurs="0"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="FAPVType">
        <xsd:sequence minOccurs="0">
            <xsd:element name="Default" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Familiarize" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Acquire" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Practice" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Validate" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ObjectTreeNodeType">
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="parent" type="xsd:string"/>
        <xsd:attribute name="label" type="xsd:string"/>
        <xsd:attribute name="camera" type="ViewCameraType"/>
        <xsd:attribute name="objects" type="ObjectsType"/>
    </xsd:complexType>

    <xsd:simpleType name="HRIDType">
        <xsd:restriction base="HRIDRefType">
            <xsd:pattern value="(\w|_)*"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="HRIDRefType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="(0|(\w|_)*)?"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="StepTreeNodeType">
        <xsd:attribute name="name" type="GrotesqueIDType"/>
        <xsd:attribute name="parent" type="GrotesqueIDType"/>
        <xsd:attribute name="label" type="xsd:string"/>
        <xsd:attribute name="id" type="FrameIDType"/>
    </xsd:complexType>

    <xsd:simpleType name="FrameIDType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="(([Ii][Dd]_)?(\w|_)+)?"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="ObjectTreeType">
        <xsd:sequence minOccurs="0">
            <xsd:element name="node" type="ObjectTreeNodeType"
                         maxOccurs="unbounded" minOccurs="0">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="StepTreeType">
        <xsd:sequence minOccurs="0">
            <xsd:element name="node" type="StepTreeNodeType"
                         maxOccurs="unbounded" minOccurs="0">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="LessonReferenceFileType">
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="label" type="xsd:string"/>
    </xsd:complexType>

    <xsd:complexType name="LessonReferenceType">
        <xsd:sequence minOccurs="0">
            <xsd:element name="File" type="LessonReferenceFileType"
                         maxOccurs="unbounded" minOccurs="0">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="CommandType">
        <xsd:attribute name="send" type="xsd:string"/>
        <xsd:attribute name="wait" type="xsd:decimal"/>
        <xsd:attribute name="repeatid" type="GrotesqueIDType"/>
        <xsd:attribute name="repeatwait" type="xsd:decimal"/>
        <xsd:attribute name="repeatsend" type="xsd:string"/>
    </xsd:complexType>

    <xsd:complexType name="MacroType">
        <xsd:sequence maxOccurs="unbounded" minOccurs="0">
            <xsd:element name="Command" type="CommandType" maxOccurs="unbounded" minOccurs="0"/>
            <xsd:element name="CommandScreen" type="CommandScreenType" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="name" type="GrotesqueIDType"/>
    </xsd:complexType>

    <xsd:complexType name="CommandMacrosType">
        <xsd:sequence minOccurs="0">
            <xsd:element name="Macro" type="MacroType" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CommandsType">
        <xsd:sequence maxOccurs="unbounded" minOccurs="0">
            <xsd:element name="Command" type="CommandType" maxOccurs="unbounded" minOccurs="0"/>
            <xsd:element name="CommandScreen" type="CommandScreenType" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="BooleanType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="([Tt]([Rr][Uu][Ee])?|[Yy]([Ee][Ss])?|1|[Ff]([Aa][Ll][Ss][Ee])?|[Nn]([Oo])?|0)?"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="PreloadType">
        <xsd:attribute name="filename" type="xsd:string"/>
    </xsd:complexType>

    <xsd:complexType name="PreloadCommandsType">
        <xsd:sequence minOccurs="0">
            <xsd:element name="Preload" type="PreloadType" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="PerformanceMeasuresType">
        <xsd:sequence minOccurs="0">
            <xsd:element name="Measure" type="xsd:string" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WarningsType">
        <xsd:sequence minOccurs="0">
            <xsd:element name="Warning" type="xsd:string" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CautionsType">
        <xsd:sequence minOccurs="0">
            <xsd:element name="Caution" type="xsd:string" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="TMReferencesType">
        <xsd:sequence minOccurs="0">
            <xsd:element name="Reference" type="xsd:string" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ComponentFilesType">
        <xsd:sequence minOccurs="0">
            <xsd:element name="Component" type="xsd:string" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GoalsType">
        <xsd:sequence minOccurs="0">
            <xsd:element name="Goal" type="GoalType" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GoalType">
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="variable" type="HRIDType"/>
        <xsd:attribute name="value" type="xsd:string"/>
        <xsd:attribute name="score" type="xsd:unsignedInt"/>
        <xsd:attribute name="step" type="GrotesqueIDType"/>
    </xsd:complexType>

    <xsd:complexType name="CustomNavViewsType">
        <xsd:sequence minOccurs="0">
            <xsd:element name="NavView" type="NavViewType" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="NavViewType">
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="camera" type="xsd:string"/>
        <xsd:attribute name="remove" type="BooleanType"/>
    </xsd:complexType>

    <xsd:simpleType name="FrameIDChoiceType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="([Ii][Dd]_\w+|[Rr][Aa][Nn][Dd][Oo][Mm] +[Ii][Dd]_\w+( *, *[Ii][Dd]_\w+)*)?"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="ExternalCOLType">
        <xsd:sequence minOccurs="0">
            <xsd:element name="COL" type="xsd:string" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ExternalPopupType">
        <xsd:sequence minOccurs="0">
            <xsd:element name="Popup" type="xsd:string" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="PagesType">
        <xsd:sequence maxOccurs="unbounded" minOccurs="0">
            <xsd:element name="Page" type="xsd:string" maxOccurs="unbounded" minOccurs="0"/>
            <xsd:element name="Insert" type="xsd:string" maxOccurs="unbounded" minOccurs="0"/>
            <xsd:element name="Question" type="MultipleChoiceQuestionType" maxOccurs="unbounded" minOccurs="0"/>
            <xsd:element name="COL" type="COLType" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ComponentType">
        <xsd:sequence minOccurs="0">
            <xsd:element name="BaseCamera" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Parts" type="PartsType" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="version" type="xsd:unsignedInt"/>
    </xsd:complexType>

    <xsd:complexType name="PartsType">
        <xsd:sequence maxOccurs="unbounded" minOccurs="0">
            <xsd:element name="Part" type="PartType" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="PartType">
        <xsd:sequence minOccurs="0">
            <xsd:element name="Camera" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Command" type="CommandType" maxOccurs="unbounded" minOccurs="0"/>
            <xsd:element name="Reference" type="xsd:string" maxOccurs="unbounded" minOccurs="0"/>
            <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string"/>
    </xsd:complexType>

    <xsd:complexType name="COLType">
        <xsd:all minOccurs="0">
            <xsd:element name="Type" minOccurs="0" type="COLTypeType"/>
            <xsd:element name="Questions" type="QuestionsType" minOccurs="0"/>
            <xsd:element name="Answers" type="AnswersType" minOccurs="0"/>
            <xsd:element name="Feedback" type="FeedbackType" minOccurs="0"/>
            <xsd:element name="InsertAfter" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Review" type="xsd:string" minOccurs="0"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="COLsType">
        <xsd:sequence minOccurs="0">
            <xsd:element name="COL" type="COLType" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="QuestionsType">
        <xsd:all minOccurs="0">
            <xsd:element name="Question" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Question1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Question2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Question3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Question4" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Question5" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Question6" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Question7" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Question8" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TextBeforeBlank" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TextAfterBlank" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TextBeforeBlank1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TextAfterBlank1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TextBeforeBlank2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TextAfterBlank2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TextBeforeBlank3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="TextAfterBlank3" type="xsd:string" minOccurs="0"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="AnswersType">
        <xsd:all minOccurs="0">
            <xsd:element name="Correct" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Correct1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Correct2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Correct3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Correct4" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Correct5" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Correct6" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Correct7" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Correct8" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Wrong" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Wrong1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Wrong2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Wrong3" type="xsd:string" minOccurs="0"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="FeedbackType">
        <xsd:sequence minOccurs="0">
            <xsd:element name="Correct" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Error" maxOccurs="unbounded" minOccurs="0">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:extension base="xsd:string">
                            <xsd:attribute name="count" type="xsd:int"/>
                        </xsd:extension>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="NOGO" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:simpleType name="GrotesqueIDType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="(\w|[_ -./=()*#^@])*"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="AlphanumericalTokenType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Za-z0-9]+"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="EstimatedTimeType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="(\d+:\d\d|\d\d?)?"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="ModuleTypeType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="([Dd][Ii][Rr][Ee][Cc][Tt][Oo][Rr]|[Jj][Pp][Ee][Gg]2?|[Ss][Oo][Ff][Tt][Ww][Aa][Rr][Ee]|[Tt][Ee][Rr][Mm][Ii][Nn][Aa][Ll]([23])?)?"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="COLTypeType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="([1-4])?"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="ViewCameraType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="(view (\w| )+)?"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="ObjectsType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="( *\w+(([ _])\w+)+ *,?)*"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="ObjectType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="(\w+(([ _])\w+)+)?"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="CommandScreenType">
        <xsd:attribute name="line" type="xsd:unsignedInt"/>
        <xsd:attribute name="send" type="xsd:string"/>
        <xsd:attribute name="screen" type="ObjectType"/>
        <xsd:attribute name="wait" type="xsd:unsignedInt"/>
        <xsd:attribute name="repeatid" type="GrotesqueIDType"/>
        <xsd:attribute name="repeatsend" type="xsd:string"/>
        <xsd:attribute name="repeatwait" type="xsd:unsignedInt"/>
    </xsd:complexType>

    <xsd:complexType name="MultipleChoiceQuestionType">
        <xsd:sequence minOccurs="0">
            <xsd:element name="Query" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Answers" type="MultipleChoiceAnswersType" minOccurs="0"/>
            <xsd:element name="InsertAfter" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="MultipleChoiceAnswersType">
        <xsd:all minOccurs="0">
            <xsd:element name="A" type="xsd:string" minOccurs="0"/>
            <xsd:element name="B" type="xsd:string" minOccurs="0"/>
            <xsd:element name="C" type="xsd:string" minOccurs="0"/>
            <xsd:element name="D" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Correct" type="MultipleChoiceAnswerType" minOccurs="0"/>
            <xsd:element name="PositiveFeedback" type="xsd:string" minOccurs="0"/>
            <xsd:element name="NegativeFeedback" type="xsd:string" minOccurs="0"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:simpleType name="MultipleChoiceAnswerType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="([A-Da-d]|(INSPECT *)?\w+(([ _])\w+)+)?"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="ModeType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="([Pp][Uu][Tt][Tt][Yy])?"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="PopupType">
        <xsd:sequence>
            <xsd:element name="Id">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1"/>
                        <xsd:pattern value="[^\s]+"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Text">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="Close" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Title" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Drag" type="xsd:boolean"/>
        </xsd:sequence>
        <xsd:attribute name="x" type="xsd:unsignedShort" use="required"/>
        <xsd:attribute name="y" type="xsd:unsignedShort" use="required"/>
        <xsd:attribute name="w" type="xsd:unsignedShort" use="required"/>
        <xsd:attribute name="h" type="xsd:unsignedShort" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="PopupsType">
        <xsd:sequence maxOccurs="unbounded" minOccurs="0">
            <xsd:element name="POPUP" type="PopupType" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>
